<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo" aria-label="INFOUNDER GROUP">
      <span class="header__logo-text">INFOUNDER</span>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="#vision" class="header__nav-link">Vision</a></li>
        <li><a href="#about" class="header__nav-link">About</a></li>
        <li><a href="#contact" class="header__nav-link">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>