<footer class="footer">
  <div class="footer__container">
    <div class="footer__section">
      <h4 class="footer__title">INFOUNDER GROUP</h4>
      <p class="footer__description">Building innovative solutions for global markets.</p>
    </div>
    <div class="footer__section">
      <h4 class="footer__title">Navigation</h4>
      <ul class="footer__list">
        <li><a href="#vision" class="footer__link">Vision</a></li>
        <li><a href="#about" class="footer__link">About</a></li>
        <li><a href="#contact" class="footer__link">Contact</a></li>
      </ul>
    </div>
    <div class="footer__section">
      <h4 class="footer__title">Contact</h4>
      <p class="footer__text">
        <a href="mailto:info@infounder.com" class="footer__link">info@infounder.com</a>
      </p>
    </div>
  </div>
  <div class="footer__bottom">
    <p>&copy; 2026 INFOUNDER GROUP. All rights reserved.</p>
  </div>
</footer>